{{- range $name, $cfg := .Values }}
{{- if kindIs "map" $cfg }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  labels:
    app: {{ $name }}
spec:
  replicas: {{ $cfg.replicaCount }}
  selector:
    matchLabels:
      app: {{ $name }}
  template:
    metadata:
      labels:
        app: {{ $name }}
    spec:
      containers:
        - name: {{ $name }}
          image: "{{ $cfg.image.repository }}:{{ $cfg.image.tag }}"
          imagePullPolicy: {{ $cfg.image.pullPolicy }}
          ports:
            - containerPort: 8080
          resources:
            {{- toYaml $cfg.resources | nindent 12 }}
---
{{- end }}
{{- end }}


